$primary-color: rgb(212, 127, 29);

.calendar {
    width: 300px;
    margin-top: 3vh;
    margin-left: 1vw;
}

.icons {
    color: $primary-color;
}

.btn{
    border: 0
}

.divActivity{
    background-color: lightgray;
}

img{
    width: 4vw;
    height: 8vh;
}