<div class="d-flex justify-content-center">
   <div class="d-flex text-center align-items-center w-25">
        <i class="fa-solid fa-user fa-7x card-img-top icons pt-3"></i>
        <i id="plusIcon" class="fa-solid fa-plus icons"></i>
    </div> 
</div>

<div mat-dialog-content>
    <form [formGroup]="monitorForm" (ngSubmit)="newMonitor()">
        <input id="name" type="text" formControlName="name" placeholder="Name">
        <input id="email" type="email" formControlName="email" placeholder="E-mail">
        <input id="telephone" type="text" formControlName="telephone" placeholder="Telephone">
    </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="newMonitor()">Accept</button>
  <button mat-button (click)="closePopup()">Cancel</button>
</div>